/*custom portfolio website*/
body{
    background-image: linear-gradient(to bottom right, green, turquoise, #0f52ba);
	text-align: center;
}
#info{
    width: 50%;
    padding: 10px;
    margin: auto;
}
#web{
    height: 200px;
}
#mobile{
    height: 325px;
}
#web, #mobile{
    width: 50%;
    overflow: auto;
}
.box,.apps{
    text-align: center;
    display: inline-block;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.box{
    border-radius: 20px;
}
.apps{
    border-radius: 15px;
}
ul{
    padding: 0;
    list-style-type: none;
}
.icons{
    float: left;
    width: 175px;
    height: 175px;
}
.desc{
    margin: 15px;
}
em{
    background-color: gold;
}
@media only screen and (max-width: 800px){
    #info{
        width: 85%;
    }
    #web{
        width: 90%;
    }
    #mobile{
        width: 95%;
    }
}
@media only screen and (max-width: 435px){
    .icons{
        float: none;
        
        display: inline-block;
    }
}